.marginRadioButton{
    margin-left:-10px !important;
}

.marginMenu{
    height:20px;
    margin-top:20px !important;
    margin-bottom:10px !important;
}

.visivel{
    display:block;
}

.invisivel{
    display:none;
}

#simSubmit:hover{
    background-color:lawngreen;
}

#naoSubmit:hover{
    background-color:red;
}

