
@{
    ViewBag.Title = "Prototipo";
}
<div class="container center-block">
    <div class="col-md-4"></div>
    <input class="col-md-1 col-xs-12 col-sm-6 text-center" type="button" value="Promoções" onclick="location.href='@Url.Action("Index", "Promocoes")'" />
    <input class="col-md-1 col-xs-12 col-sm-6 text-center" type="button" value="Produtos" onclick="location.href='@Url.Action("Index", "Produtos")'" />
    <input class="col-md-1 col-xs-12 col-sm-6 text-center" type="button" value="Carrinho" onclick="location.href='@Url.Action("Index", "Carrinho")'" />
    <input class="col-md-1 col-xs-12 col-sm-6 text-center" type="button" value="Sobre" onclick="location.href='@Url.Action("Index", "Sobre")'" />
    <div class="col-md-4"></div>
</div>


